NEXT_PUBLIC_OVERVIEW_EMBED_URL=""
NEXT_PUBLIC_EMERGENCY_CARE_EMBED_URL=""
NEXT_PUBLIC_SPECIALITIES_EMBED_URL=""

AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

BACKEND_URL="http://localhost:3333"